.control {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.graph {
  margin: 3rem 0 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

/* CONNECT BTN CSS */
.connectBtn {
  border-radius: 50px;
  border: 0;
  color: white;
  padding: 3rem 5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, var(--gradBeginON), var(--gradEndON))
    right;
  background-size: 250%;
  transition-duration: 0.5s;
}

.connectBtn:hover {
  background-position: left;
  transition-duration: 0.5s;
  transition: 0.5s;
  color: white;
}

/* CONTROL BTN CSS */
.controlBtnON {
  border-radius: 50px;
  border: 0;
  color: white;
  padding: 3rem 5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, var(--gradBeginON), var(--gradEndON))
    right;
  background-size: 250%;
  transition-duration: 0.5s;
}

.controlBtnOFF {
  border-radius: 50px;
  border: 0;
  color: white;
  padding: 3rem 5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, var(--gradBeginOFF), var(--gradEndOFF))
    right;
  background-size: 250%;
  transition-duration: 0.5s;
}

.controlBtnON:hover {
  background-position: left;
  transition-duration: 0.5s;
  transition: 0.5s;
  color: white;
}

.controlBtnOFF:hover {
  background-position: left;
  transition-duration: 0.5s;
  transition: 0.5s;
  color: white;
}
