@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');

:root {
  --primary: #5fdd9d;
  --primaryAccent: #3bd185;
  --dark: #171a21;
  --darkAccent: #7e6551;
  --gradBeginON: #1434a4;
  --gradEndON: #0096ff;
  --gradBeginOFF: #7a1712;
  --gradEndOFF: #ff4d4d;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
  color: white;
}

body {
  background-color: var(--primaryAccent);
  color: var(--dark);
  height: 100%;
}

html {
  height: 100%;
}

/* Wrap parent divs for pages with App class */
.App {
  margin: 1rem 5rem;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-bottom: 1rem;
}
